<section class="hero" id="section_1">
    <div class="container">
        <div class="row">

            <div class="col-lg-5 col-12 m-auto">
                <div class="hero-text">

                    <h1 class="text-white mb-4"><u class="text-info">Leadership</u> Conference 2022</h1>

                    <div class="d-flex justify-content-center align-items-center">
                        <span class="date-text">July 12 to 18, 2022</span>

                        <span class="location-text">Times Square, NY</span>
                    </div>

                    <a href="#section_2" class="custom-link bi-arrow-down arrow-icon"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="video-wrap">
        <video autoplay="" loop="" muted="" class="custom-video" poster="">
            <source src="videos/pexels-pavel-danilyuk-8716790.mp4" type="video/mp4">

            Your browser does not support the video tag.
        </video>
    </div>
</section>