<section class="venue" id="section_6">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h2 class="mb-5">Here you go <u class="text-info">Venue</u></h2>
            </div>

            <div class="col-lg-6 col-12 ">
                <iframe class="google-map border rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1511.091461689997!2d-73.9866630916883!3d40.758001294831736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25855a96da09d%3A0x860bf5a5e1a00a68!2sTimes%20Square%2C%20New%20York%2C%20NY%2010036%2C%20USA!5e0!3m2!1sen!2ssg!4v1643035529098!5m2!1sen!2ssg" width="100%" height="371.59" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                <div class="venue-thumb bg-white shadow-lg">
                    
                    <div class="venue-info-title">
                        <h2 class="text-white mb-0">Times Square</h2>
                    </div>

                    <div class="venue-info-body">
                        <h5 class="d-flex">
                            <i class="bi-geo-alt me-2"></i> 
                            <span>102 South. 7th Street, New York, NY 10036, USA</span>
                        </h5>

                        <h5 class="mt-4 mb-3">
                            <a href="mailto:hello@yourgmail.com">
                                <i class="bi-envelope me-2"></i>
                                hi@company.com
                            </a>
                        </h5>

                        <h5 class="mb-0">
                            <a href="tel: 305-240-9671">
                                <i class="bi-telephone me-2"></i>
                                010-020-0340
                            </a>
                        </h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="contact section-padding" id="section_7">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <form class="custom-form contact-form bg-white shadow-lg" action="#" method="post" role="form">
                    <h3>S'il vous plaît dites bonjour</h3>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">                                    
                            <input type="text" name="name" id="name" class="form-control" placeholder="Name" required="">
                        </div>

                        <div class="col-lg-4 col-md-4 col-12">         
                            <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email" required="">
                        </div>

                        <div class="col-lg-4 col-md-4 col-12">                                    
                            <input type="text" name="subject" id="subject" class="form-control" placeholder="Subject">
                        </div>

                        <div class="col-12">
                            <textarea class="form-control" rows="5" id="message" name="message" placeholder="Message"></textarea>

                            <button type="submit" class="form-control">Submit</button>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</section>